{% extends 'base.html.twig' %}

{% block body %}
    <h1>Missions list</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th{% if missions.isSorted('u.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(missions, 'Client', 'u.username') }}</th>
                {% endif %}
                <th
                    {% if missions.isSorted('u.username') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(missions, 'Service date', 'm.serviceDate') }}
                </th>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Country destination</th>
                <th>Vendor name</th>
                <th>Vendor email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ mission.client.username }}</td>
                {% endif %}
                <td>
                    {% if mission.serviceDate %}
                        <a href="{{ path('missions_show', { 'id': mission.id }) }}">{{ mission.serviceDate|date('Y-m-d') }}</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('missions_show', { 'id': mission.id }) }}">
                        {{ mission.productName }}
                    </a>
                </td>
                <td>{{ mission.quantity }}</td>
                <td>{{ mission.countryDestination }}</td>
                <td>{{ mission.vendorName }}</td>
                <td>{{ mission.vendorEmail }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('missions_show', { 'id': mission.id }) }}">show</a>
                    <a class="btn btn-default" href="{{ path('missions_edit', { 'id': mission.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
    {{ knp_pagination_render(missions) }}
    </div>
{% endblock %}
